<p>reservas-listado works!</p>
<a [routerLink]="['./',10]">Ir a detalle </a>  <!--con el punto adelante, indica que es ruta relativa, dentro del modulo-->
<a [routerLink]="['/login']"> Ir a login </a><!-- sin el punto adelante, indica que es una ruta raiz(por fuera del modulo, hacia app module)-->

<div *ngFor="let r of api.getAll()"> <!-- HAcemos uso de una variable de TS api y le llamanos el metodo get all y mostramos los elementos con un Ngfor -->        
    {{r.id}} - {{r.name}} 
</div>