
<div class="card-content" [@esFavorito]= "destino.isSelected() ? 'estadoFavorito': 'estadoNoFavorito'" >
	<div class="card-img">
		<img src="https://placeimg.com/380/230/nature"	alt="">
			<span><h4>{{position}}</h4></span> <!--  Agrego variable que indica el numero de la tarjeta al generarse-->
	</div>
	<div class="card-desc">
		<h3>{{destino.nombre}}</h3>
		<p>Servicios:</p>
		<div>
			<a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
				<i class="material-icons md-18" >thumb_up</i></a>
			&nbsp;
			<a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
				<i class="material-icons md-18" >thumb_down</i></a>
			Votos: {{destino.votes}}
		</div>
		<ul>
			<li *ngFor="let s of destino.servicios;">  <!-- s es la variable que tomará el valor del Array -->
			<span class="container" [ngSwitch]="s"><!--Implemento DIRECTIVA tipo IF/CASE-->
				<i *ngSwitchCase="'desayuno'" style="color: blue;">{{s}}</i> <!-- 2.3 Cambio tipografía de {{s}} en caso de que se cumpla que es desayuno -->
				<i *ngSwitchDefault>{{s}}</i> <!-- Muestro contenido( nombre del servicio) por defecto -->
			</span> <!-- 2.2 Muestro contenido( nombre del servicio) {{s}} -->
			</li> <!-- 2.1 Creo lista que muestre los servicios
			del Array Servicios correspondientes al destino. Para ello uso la directiva NG FOR -->	
		</ul>
		<a	href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido listadestinos_item" >Ir!</a>	

		<span *ngIf="destino.isSelected()">
			<span ngNonBindable>{{ PREFERIDO! }}</span> 
		</span>
		<a [routerLink]="['/destino', destino.id]"> Ver!</a>
	</div>
</div>

