<form class="form-inline" *ngIf="!authService.getUser()">  <!-- se muestra el formulario, siempre y cuando NO ESTÉ logueado-->
    <div class="form-group">
        <label for="username">Usuario: (type <em>user</em>)</label>
        <input class="form-control" name ="username" #username>

    </div>
    <div class="form-group">
        <label for="password">Contraseña: (type <em>password</em>)</label>
        <input class="form-control" type="password" name="password" #password>
    </div>
    <a class="btn btn-default" (click)="login(username.value, password.value)">Entrar!</a>
    {{mensajeError}}

</form>
<a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()" >Salir!</a>
<!-- Se muestra el botón de logout siempre y cuando esté logueado-->

