  <div class="page-header"> <!-- Creo nuevo header-->
    <div style="float: right;"> <!-- Change es un callback de angular-->
      <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
      </select>
    </div>


      <div class="container">
        <h1>Ruteo Simple</h1>
        <div class="navLinks"> <!-- Creo barra de navegación-->
          <a [routerLink]="['/home']">Inicio</a> <!-- Uso la directiva RouterLink, que funciona como un Href para redireccionar-->
          
        </div>
        
      </div>
    </div>
<div class="container content">

  <div class="row">
    <h1>
      {{title}} <b [innerHTML]="'HOLA' | translate"></b><!--Directiva inner sirve para traducir el string HOLA(key)-->
    </h1>  
  </div>

  <router-outlet></router-outlet> <!-- Componente manejador de modulos que estén asociados a rutas-->
</div>

<hr class="mb-5">



Fecha: {{ time | async}} <!-- La fecha se actualizará de manera asincrónica-->