
<!-- EL siguiente codigo consta de 2 filas:
La primera fila, un container general, y luego tiene dos filas separadas con un separador.
La segunda iremos poniendo el listado de los destinos de viaje, -->

<div class="container content">

	<div class="row">

		<div class="col-md-6 offset-md-3">

			<span class="anchor" id="formLogin"></span>
				<!-- form	card	login	with	validation	feedback	-->
				<div class="card card-outline-secondary">
					<div	class="card-header">
						<h3	class="mb-0">Whishlist Hoteles!</h3>
					</div>
					<div	class="card-body">
						<app-form-destino-viaje (OnItemAdded)="agregado($event)"></app-form-destino-viaje>
					</div>
				</div>
		</div>
	</div>
   <hr	class="mb-5">
	<div	class="row row flex">
		
		<app-destino-viaje 
		*ngFor="let d of destinosApiClient.getAll(); let i=index"
		[destino]="d" 
		[idx]="i"
		(onClicked)='elegido(d)'
		appEspiame
		
		></app-destino-viaje><!-- EN ESTE COMPONENTE ES DONDE SE HACEN LAS OPERACIONES FINALES, CON LOS METODOS Y VARIABLES 
			YA CREADAS.
		SE HIZO UNA NVOCACION AL COMPONENTE HIJO con *NgFor y propiedad de evento
		-cLicked, que a su vez invoca la función elegido*
		-$event se encarga de pasar como argumento exactamente el mismo objeto que está llegando
		 através del EvenEmmitter
		-Elegido es una función que hay que crear en el TS de este componente****
		-position se encarga de mostrar los indices de cada tarjeta, para ello se usó un índice i=index(+ 1 para que no muestre el 0, que es desde donde arranca el ciclo) dentro
		 del *ngFor, que es quien controla la iteración del ciclo.

	    -->
	</div>
	<hr	class="mb-5">
	<div class="row row flex">
		<h5>Actividad</h5>
		<ul>
			<li *ngFor= "let u of updates;">{{u}}!</li>
		</ul>
	</div>
</div>
