<p>vuelos works!</p>
<div class="navLinks">
    <a [routerLink]="['./main']">Main</a> | <!--Router Links relativos que subdirigen a las rutas relativas-->
    <a [routerLink]="['./mas-info']">Más info</a> |
    <a [routerLink]="['./', 5]">Vuelo 5</a> |

</div>

<router-outlet></router-outlet> 